<a
        data-th-fragment="button (text, href)"
        class="hover:shadow bg-white focus:shadow-outline focus:outline-none text-gray-600 font-semibold py-1 px-4 rounded cursor-pointer"
        data-th-href="@{${href}}"
        data-th-text="${text}">Text</a>

<a
        data-th-fragment="button-active (text, href)"
        class="underline hover:shadow bg-white focus:shadow-outline focus:outline-none text-gray-600 font-semibold py-1 px-4 rounded cursor-pointer"
        data-th-href="@{${href}}"
        data-th-text="${text}">Text</a>

