<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(~{::head/content()}, 'submodel-data', ~{::div})}">
<head>
    <title>Submodel Data</title>
</head>
<body id="submodel-data">

<div class="relative flex flex-col space-y-20 min-h-screen  overflow-hidden py-6 sm:py-12">
    <div class="flex h-1/2 space-x-20">
        <div class="self-center text-xl font-bold">Catena-X</div>
        <div class="w-1/2">
            <a class="border-2 p-1 text-center rounded-md border-gray-400 hover:bg-yellow-400">Search</a>
        </div>
    </div>
    <div class="flex flex-col space-y-4">
        <p>Submodel Data for ProductDescription</p>
        <code class="border-2 bg-gray-50 border-2 whitespace-pre p-4" data-th-text="${submodelData}">
        </code>
    </div>
</div>
</body>
</html>
