web.http.port=9191
web.http.path=/api

web.http.callback.port=9192
web.http.callback.path=/callback

wrapper.auth.basic.someuser=somepassword

wrapper.consumer.edc.datamanagement.url=http://edc_controlplane:8181/data
wrapper.consumer.edc.control.url=http://edc_controlplane:8080/api
wrapper.consumer.edc.apikey.name=X-Api-Key
wrapper.consumer.edc.apikey.value=apipassword
