version: '3.8'

services:

  edc_controlplane:
    image: "{{ edc_controlplane_image }}"
    restart : "always"
    networks: 
      - local
    environment:
      JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8090"
      EDC_KEYSTORE: /app/certs/cert.pfx
      EDC_KEYSTORE_PASSWORD: 123456
      EDC_FS_CONFIG: /app/configuration.properties
    ports:
      - "810{{ index }}:8080"
      - "811{{ index }}:8181"
      - "812{{ index }}:8182"
      - "813{{ index }}:8282"
      - "814{{ index }}:9090"
      - "815{{ index }}:9999"
      - "816{{ index }}:8090"
    depends_on:
      - "postgres_db"
    volumes:
      - ./edc-config/controlplane-configuration.properties:/app/configuration.properties
      - ./edc-config/logging.properties:/app/logging.properties
      - ./edc-config/opentelemetry.properties:/app/opentelemetry.properties
      - ./edc-config/dataspaceconnector-vault.properties:/app/dataspaceconnector-vault.properties
      - ./edc-config/certs/:/app/certs/
  
  edc_dataplane:
    image: "{{ edc_dataplane_image }}"
    restart : "always"
    networks: 
      - local
    ports:
      - "820{{ index }}:8080"
      - "821{{ index }}:8185"
      - "822{{ index }}:9999"
    volumes:
      - ./edc-config/dataplane-configuration.properties:/app/configuration.properties
      - ./edc-config/logging.properties:/app/logging.properties
      - ./edc-config/opentelemetry.properties:/app/opentelemetry.properties
    
  postgres_db:
    image: "postgres:{{ postgres_version }}"
    restart : "always"
    networks: 
    - local
    environment:
      POSTGRES_USER: "{{ database_user }}"
      POSTGRES_PASSWORD: "{{ database_password }}"
      POSTGRES_DB: "{{ database_schema }}"
    expose:
      - "5432"
    volumes:
      - pgdata-db:/var/lib/postgresql/data
      - ./postgres-config/create-databases.sql:/docker-entrypoint-initdb.d/create-databases.sql
  
  {%+ if type == 'consumer' -%}
  api_wrapper:
    image: "{{ api_wrapper_image }}"
    restart : "always"
    networks: 
    - local
    ports:
      - "830{{ index }}:9191"
      - "831{{ index }}:8090"
    environment:
      EDC_FS_CONFIG: /app/configuration.properties
      JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8090"
    volumes:
      - ./edc-config/api-wrapper.properties:/app/configuration.properties
  {%- endif %}

  {%+ if type == 'provider' -%}
  aas_registry:
    image: "{{ aas_registry_image }}"
    restart : "always"
    networks: 
    - local
    ports:
      - "424{{ index }}:4243"
    environment:
      SPRING_PROFILES_ACTIVE: local
      SPRING_DATASOURCE_URL: "jdbc:h2:file:./semantics/persistence;CASE_INSENSITIVE_IDENTIFIERS=TRUE"
      IDP_ISSUER_URI: ""
  {%- endif %}


volumes:
    pgdata-db:
      driver: local

networks:
    local:
      name: network_{{ index }}
      driver: bridge